---

import { Awaited, Fallback }  from 'astro-awaited';
import Layout from '../components/Layout.astro';
import ResultsList from '../components/ResultsList.astro';
import ResultListPlaceholder from '../components/ResultListPlaceholder.astro';

export const prerender = false

const searchQuery = "astro integration";
const searchPage = 1;
---
<Layout>
	<h1>Astro Awaited Integration Test</h1>
	<p style="font-size: 16px;">This page tests the Astro Awaited integration functionality.</p>
	
	<div class="test-section">
		<Awaited transitionDuration={250} transitionEase='linear'>
			<ResultsList query={searchQuery} page={searchPage} />
			<Fallback>
				<ResultListPlaceholder />	
			</Fallback>
		</Awaited>
	</div>
</Layout>

